---
const { title } = Astro.props;
---

<section {...Astro.props}>
  {title && <h2>{title}</h2>}
  <slot />
  <hr />
</section>
<style>
  section {
    max-width: 700px;
    margin: 0 auto 12px;
  }

  h2 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.25;
    font-size: 1.25rem;
  }

  hr {
    margin: 12px 0;
    border: 1px solid #555;
  }

  @media print {
    section {
      margin: 0 auto 0;
      padding: 0;
    }

    h2 {
      margin-bottom: 0px;
    }

    hr {
      margin: 8px 0;
      border: 1px solid #555;
    }
  }
</style>
