---
import Badge from "@/components/Badge.astro";
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import SocialPill from "@/components/SocialPill.astro";
import GitHubIcon from "@/icons/Github.astro";
---

<Layout
  title="Design System protfolio.dev"
  description="El catálogo de componentes de nuestro portfolio"
>
  <Container class="py-44 pb-32 flex flex-col gap-y-10">
    <article>
      <h1>&lt;Badge /&gt;</h1>
      <Badge>Etiqueta</Badge>
    </article>
    <article>
      <h1>&lt;SocialPill /&gt;</h1>
      <div class="flex">
        <SocialPill href="#" >
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
      </div>
    </article>
  </Container>
</Layout>
