---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../icons/LinkedIn.astro";
import GitHubIcon from "../icons/Github.astro";
import MailIcon from "../icons/Mail.astro";
import BriefcaseIcon from "../icons/Briefcase.astro";
import CodeIcon from "../icons/Code.astro";

import Experience from "../components/Experience.astro";
import Container from "../components/Container.astro";
import Projects from "../components/Projects.astro";
---

<Layout
  title="Portfolio de Buscer - Desarrollador y Programador Web con 3 años de experiencia"
  description="Contrata a Buscer para crear tu aplicacion web. Desarrollador Web. Especializado en desarrollar soluciones web."
>
  <main class="px-4">
    <Container class="py-44 pb-30">
      <img
        class="rounded-full size-12 mb-4"
        src="https://media.licdn.com/dms/image/D5603AQEo0AFz5bIYZA/profile-displayphoto-shrink_200_200/0/1705929035622?e=1711584000&v=beta&t=CfJykDcrsu6mHq7xNNHwgCnIFo7sNBCktWO7bmaX6gY"
        alt="buscer"
      />
      <h1
        class="dark:text-white text-2xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4"
      >
        Hola, soy Julio Buscer
        <a
          href="https://www.linkedin.com/in/juliobuscer/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>💼 Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-2xl text-wrap max-w-[700]">
        <span>+3 años de experiencia.</span>
        <span class="text-purple-300/90">Desarrollador web.</span>
        <span class="text-red-50 opacity-80">De México 🇲🇽.</span>
        <span class="opacity-80"
          >Especializado en desarrollar soluciones web</span
        >
      </h2>

      <nav class="flex gap-x-2">
        <SocialPill href="https://linkedin.com/in/juliobuscer/">
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/juliobuscer/">
          <GitHubIcon class="size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="https://github.com/juliobuscer/">
          <MailIcon class="size-6" />
          juliobuscer@gmail.com
        </SocialPill>
      </nav>
    </Container>
    <Container id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" /> Experiencia Laboral
      </h2>
      <Experience />
    </Container>
    <Container id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-7" /> Proyectos
      </h2>
      <Projects />
    </Container>
  </main>
</Layout>
