---
import MinimalistLayout from "@/layouts/MinimalistLayout.astro";

import About from "@/components/Minimalist/Sections/About.astro";
import Education from "@/components/Minimalist/Sections/Education.astro";
import Experience from "@/components/Minimalist/Sections/Experience.astro";
import Hero from "@/components/Minimalist/Sections/Hero.astro";
import Projects from "@/components/Minimalist/Sections/Projects.astro";
import Skills from "@/components/Minimalist/Sections/Skills.astro";
import KeyboardManager from "@/components/KeyboardManager.astro";
---

<MinimalistLayout title="Portfolio de Buscer"
description="Desarrollador y Programador Web con 3 años de experiencia">
  <main>
    <Hero />
    <About />
    <Experience />
    <Education />
    <Projects />
    <Skills />
  </main>

  <KeyboardManager />
</MinimalistLayout>

<style>
    main{
        padding: 4rem;
        margin: auto;
        width: 100%;
    }
</style>
