---
import ExperienceItem from "./ExperienceItem.astro";

const { work } = Astro.props;
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.5">
  {
    work.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
