---
import ExperienceItem from "./ExperienceItem.astro";
// Define the type for the work array
type WorkType = {
  name: string;
  position: string;
  summary?: string;
  startDate: string;
  endDate?: string;
  link?: string;
  image?: string;
  highlights?: string[];
};
const { work } = Astro.props as { work: WorkType[] };
---

<ol class="relative border-s border-gray-200 dark:border-gray-700 ml-2.5">
  {
    work.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
