---
import LanguagePicker from "@/components/LanguagePicker.astro";

import {getLangFromUrl, useTranslations } from "@/i18n/utils.ts";
import {getRelativeLocaleUrl} from "astro:i18n";
//const { currentLocale: lang } = Astro;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <span></span>
  <nav class="flex flex-row gap-x-10 opacity-90">
    <a href="#top">{t('nav.home')}</a>
    <a href="#experiencia">{t('nav.experience')}</a>
    <a href="#proyectos">{t('nav.projects')}</a>
    <a href="#sobre-mi">{t('nav.about')}</a>
    <a href="#contacto">{t('nav.contact')}</a>
    <a href={getRelativeLocaleUrl(lang,'cv')}>{t('nav.cv')}</a>
    <LanguagePicker/>
  </nav>
</header>
