---
import { ICONS } from "@/icons/icons.astro";
import type { CvData } from "@/interfaces/CvData.ts";
const { projects } = Astro.props as CvData;

import LinkExtrernalIcon from "@/icons/Link-External.astro";
import ProjectCard from "./ProjectCard.astro";
---

<div class="w-full grid md:grid-cols-2 gap-4">
  {projects.map((project) => <ProjectCard project={project} />)}
</div>
