---
import Section from "../Section.astro";

//import { basics } from "@cv";
const { basics } = Astro.props;
const { summary} = basics;
---

<Section title="Acerca de mí" >
    <p>{summary}</p>
</Section>
