---
import Section from "../Section.astro";

//import { basics } from "@cv";
const { title, experienceYears, basics } = Astro.props;
const { summary } = basics;
---

<Section title={title}>
  <p>
    +{experienceYears}
    {summary}
  </p>
</Section>
