---
import Section from "../Section.astro";

//import { projects } from "@cv";

import type { CvData } from "@/interfaces/CvData.ts";
const { title } = Astro.props;
const { projects } = Astro.props as CvData;

import LinkExtrernalIcon from "@/icons/Link-External.astro";
---

<Section title={title}>
  <ul>
    {
      projects.map(
        ({ name,description,url}) => (
          <li>
            <>
              <header>
                <div>
                  <h3 class="flex gap-x-2 flex-row">
                    {
                      url && (
                    <a href={url} target="_blank" style="color: #666;">
                      <LinkExtrernalIcon class="size-5" />
                    </a>)
                    }
                    {name}
                  </h3>
                  <p>{description}</p>
                </div>
              </header>
              
              <!--ul class="flex gap-x-2 flex-row"-->
                {/*highlights.map((highlight) => (
                  <li />
                ))*/}
              <!--/ul-->
              
            </>
          </li>
        )
      )
    }
  </ul>
</Section>
<style>
  h3 {
    align-items: center;
  }
</style>
