---
import Section from "../Section.astro";
//import { skills } from "@cv";
const { title } = Astro.props;

import type { CvData } from "@/interfaces/CvData.ts";
const { skills } = Astro.props as CvData;

import AstroIcon from "@/icons/AstroIcon.astro";
import Atlassian from "@/icons/Atlassian.astro";
import AWS from "@/icons/AWS.astro";
import Confluence from "@/icons/Confluence.astro";
import CSSIcon from "@/icons/CSS.astro";
import GitHubIcon from "@/icons/Github.astro";
import HTMLIcon from "@/icons/html.astro";
import JavaIcon from "@/icons/Java.astro";
import JavaScriptIcon from "@/icons/JavaScript.astro";
import Jira from "@/icons/Jira.astro";
import JSFIcon from "@/icons/JSF.astro";
import MongoDBIcon from "@/icons/MongoDB.astro";
import MySQLIcon from "@/icons/MySQL.astro";
import NextJsIcon from "@/icons/NextJsIcon.astro";
import NodeJsIcon from "@/icons/NodeJs.astro";
import Python from "@/icons/Python.astro";
import ReactIcon from "@/icons/React.astro";
import Spring from "@/icons/SpringIcon.astro";
import SQLServerIcon from "@/icons/SQLServer.astro";
import XHTMLIcon from "@/icons/XHTML.astro";

const TAGS = [
  { name: "Astro", class: "bg-black text-white", icon: AstroIcon },
  { name: "Atlassian", class: "bg-black text-white", icon: Atlassian },
  { name: "AWS", class: "bg-black text-white", icon: AWS },
  { name: "Confluence", class: "bg-black text-white", icon: Confluence },
  { name: "CSS", class: "bg-black text-white", icon: CSSIcon },
  { name: "GitHub", class: "bg-black text-white", icon: GitHubIcon },
  { name: "HTML", class: "bg-black text-white", icon: HTMLIcon },
  { name: "Java", class: "bg-black text-white", icon: JavaIcon },
  { name: "JavaScript", class: "bg-black text-white", icon: JavaScriptIcon },
  { name: "Jira", class: "bg-black text-white", icon: Jira },
  { name: "JSF", class: "bg-black text-white", icon: JSFIcon },
  { name: "MongoDB", class: "bg-black text-white", icon: MongoDBIcon },
  { name: "MySQL", class: "bg-black text-white", icon: MySQLIcon },
  { name: "Next.js", class: "bg-black text-white", icon: NextJsIcon },
  { name: "Node.Js", class: "bg-black text-white", icon: NodeJsIcon },
  { name: "Python", class: "bg-black text-white", icon: Python },
  { name: "React", class: "bg-black text-white", icon: ReactIcon },
  { name: "Spring", class: "bg-black text-white", icon: Spring },
  { name: "SQL Server", class: "bg-black text-white", icon: SQLServerIcon },
  { name: "XHTML", class: "bg-black text-white", icon: XHTMLIcon },
];
---

<Section title={title}>
  <ul class="skills">
    {
      //Obtenemos las skills
      skills.map(({ name, keywords }) => {
        return (
          <li class="skill">
            <h4>{name}</h4>
            <ul class="tecnologias">
              {keywords.map((keyword, index) => {
                //creamos la tag de la skill
                var tag;
                //Buscamos la skill
                for (let TAG of TAGS) {
                  if (TAG.name.toUpperCase() === keyword.toUpperCase()) {
                    tag = TAG;
                  }
                }
                return (
                  <li class="tecnologia">
                    {tag && <tag.icon class="size-5 no-print" />}
                    <span style="margin-left: 5px;">
                      {keyword}{" "}
                      {index < keywords.length - 1 && (
                        <span class="print">|</span>
                      )}
                    </span>
                  </li>
                );
              })}
            </ul>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  .skills {
    font-size: medium;
    gap: 0.1rem 0.25rem;
  }

  .skill {
    /*border: solid 1px #333;*/
    padding: 0.1rem 0.25rem;
    display: flex;
    h4 {
      width: 12ch;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 740px) {
    .skill {
      flex-direction: column;
      padding: 0.1rem 0.25rem;
      h4 {
        width: auto;
      }
    }

    .tecnologia {
      padding: 0rem 0.5rem;
    }
  }

  @media print {
    .skill {
      padding: 0rem 0.25rem;
    }
  }

  .tecnologias {
    font-size: smaller;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
  }

  .tecnologia {
    display: flex;
    align-items: center;
    padding: 0.1rem 0.5rem;
    color: #333;
    font-size: small;
    min-width: max-content;
  }
</style>
